.btn-login{
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    color: white;
    background-color: #4ec3ff;
    border-color: #4ec3ff;
}

#content {
    overflow: hidden;
}

body {
    background-image: url("../../assets/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ui.message.messageErrorLogin {
    width: 300px;
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.line-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.line {
    flex-grow: 1;
}

.text {
    margin: 0 10px;
    font-weight: bold;
    color: #999;
}