input#floatingInput {
    width: 100%;
    height: 50px;
    margin-block-end: 20px;
    border-radius: 10px;
    border-color: #ced4da;
    font-family: "Comic Sans MS";
}

label, h5 {
    font-family: "Comic Sans MS";
}

.ui.message.messageErrorRegister {
    width: 300px;
    background-color: #f8d7da;
    border-color: #f8d7da;
}