.navbar-brand-menu {
    margin-left: 40px;
}

.custom-dropdown-menu {
    margin-left: 50px;
    color: black;
}

.ml-auto {
    font-family: "Comic Sans MS";
}

a.nav-link.navbar-menu {
    color: black;
}

.custom-dropdown-menu.dropdown.nav-item.show, a#basic-nav-dropdown {
    color: black;
}

.navbar-menu:hover, .custom-dropdown-menu:hover {
    background: #4ec3ff;
    border-radius: 10px;
    border-color: #4ec3ff;
}

.dropdown-item:hover {
    background: #3273dc;
    border-radius: 10px;
    border-color: #3273dc;
}


.custom-dropdown-menu .dropdown-menu {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
}

.dropdown-menu.show {
    width: 400px;
}

.custom-dropdown-menu .dropdown-toggle:hover + .dropdown-menu,
.custom-dropdown-menu .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.navbar-menu {
    margin-left: 20px;
}

.navbar-menu:hover {
    color: black;
}

.float-right {
    background: #4ec3ff;
    border-color: #4ec3ff;
    position: absolute;
    top: 15%;
    right: 0;
    margin: 30px;
    color: white;
}

.float-right:hover {
    color: white;
}

.user-info-navbar {
    border-color: #4ec3ff;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 33px;
}

.logout-navbar {
    background-color: #4ec3ff;
    border-color: #4ec3ff;
    color: white;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    margin-top: 70px;
    border-radius: 10px;
}

.flag-select-container {
    margin-right: 1vw;
    top: -35px;
}

.navbar-visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}


