.head {
    margin-top: 30px;
    flex-direction: row;
}

.input-group-text {
    width: 35%;
    justify-content: center;
}

label#floatingInputValue {
    font-family: unset;
}

p.btn.btn-primary.w-25{
    font-family: "Comic Sans MS";
}